<div class="rhs-right-panel">
  <!--Initially it be hidden once the TOC is fully loaded, it will be displayed-->
  <div class="rhs-right-panel-header d-flex justify-content-between">
    <div class="rhs-right-panel-title">In this article</div>
    <div class="toc-collapse">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
  <div class="onpage-toc-container d-flex flex-column">
    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#network-overview-0"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)};s_objectID='tech pub : Network Overview : Floating TOC'"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Network Overview"
      ><span class="toc-content">Network Overview</span>
      <div class="chevron-down">
        <i class="fa fa-angle-down" aria-hidden="true"></i></div
    ></a>
    <a
      class="drop-down-content"
      href="#network-recommendations-1"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Network Overview:Network Recommendations"
      style="display: none"
      ><span>Network Recommendations</span></a
    >
    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#storage-2"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Storage"
      ><span class="toc-content">Storage</span>
    </a>

    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#vpc-architectures-3"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:VPC Architectures"
      ><span class="toc-content">VPC Architectures</span>
      <div class="chevron-down">
        <i class="fa fa-angle-down" aria-hidden="true"></i></div
    ></a>
    <a
      class="drop-down-content"
      href="#single-vpc-with-multiple-availability-zones-4"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:VPC Architectures:Single VPC with Multiple Availability Zones"
      style="display: none"
      ><span>Single VPC with Multiple Availability Zones</span></a
    >
    <a
      class="drop-down-content"
      href="#multiple-vpc-with-multiple-availability-zones-5"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:VPC Architectures:Multiple VPC with Multiple Availability Zones"
      style="display: none"
      ><span>Multiple VPC with Multiple Availability Zones</span></a
    >
    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#availability-6"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)};s_objectID='tech pub : Availability : Floating TOC'"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Availability"
      ><span class="toc-content">Availability</span>
      <div class="chevron-down">
        <i class="fa fa-angle-down" aria-hidden="true"></i></div
    ></a>
    <a
      class="drop-down-content"
      href="#quotas-7"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Availability:Quotas"
      style="display: none"
      ><span>Quotas</span></a
    >
    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#cluster-creation-and-management-8"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)};s_objectID='tech pub : Cluster Creation and Management : Floating TOC'"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Cluster Creation and Management"
      ><span class="toc-content">Cluster Creation and Management</span>
    </a>

    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#global-cluster-lifecycle-management-9"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)};s_objectID='tech pub : Global Cluster Lifecycle Management : Floating TOC'"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Global Cluster Lifecycle Management"
      ><span class="toc-content">Global Cluster Lifecycle Management</span>
    </a>

    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#ingress-and-load-balancing-10"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)};s_objectID='tech pub : Ingress and Load Balancing : Floating TOC'"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Ingress and Load Balancing"
      ><span class="toc-content">Ingress and Load Balancing</span>
    </a>

    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#authentication-with-pinniped-11"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Authentication with Pinniped"
      ><span class="toc-content">Authentication with Pinniped</span>
    </a>

    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#observability-12"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Observability"
      ><span class="toc-content">Observability</span>
      <div class="chevron-down">
        <i class="fa fa-angle-down" aria-hidden="true"></i></div
    ></a>
    <a
      class="drop-down-content"
      href="#metrics-monitoring-with-tanzu-observability-by-wavefront-recommended-solution-13"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Observability:Metrics Monitoring with Tanzu Observability by Wavefront (Recommended Solution)"
      style="display: none"
      ><span
        >Metrics Monitoring with Tanzu Observability by Wavefront (Recommended
        Solution)</span
      ></a
    >
    <a
      class="drop-down-content"
      href="#metrics-monitoring-with-prometheus-and-grafana-alternative-solution-14"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Observability:Metrics Monitoring with Prometheus and Grafana (Alternative Solution)"
      style="display: none"
      ><span
        >Metrics Monitoring with Prometheus and Grafana (Alternative
        Solution)</span
      ></a
    >
    <a
      class="drop-down-content"
      href="#log-forwarding-15"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Observability:Log Forwarding"
      style="display: none"
      ><span>Log Forwarding</span></a
    >
    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#summary-16"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Summary"
      ><span class="toc-content">Summary</span>
    </a>

    <a
      class="d-flex justify-content-between h2-collapsible"
      href="#deployment-instructions-17"
      onclick="if(addCTracking!=undefined || addCTracking!=null) {addCTracking(name)}"
      name="&amp;lpos=tech pub:Floating TOC:en:GUID-reference-designs-tko-on-aws:Deployment Instructions"
      ><span class="toc-content">Deployment Instructions</span>
    </a>
  </div>
  <!--<div class="quick-links-container">
	     <div class="right-panel-title">Quick Links
	     </div>
	     
	     <nav>
			<ul class="nav navbar-nav">
			<li class="rhs-right-content">Compare Versions</li>
			<li class="rhs-right-content">Products supported</li>
			<li class="rhs-right-content">Version History</li>
			</ul>
		
	     </nav>
	 </div>
	 
	 <div class="product-download">
	     Product Download >
	 </div> -->
  <div class="esp-feedback-container">
    <div class="rhs-right-panel-header">
      <div class="esp-title d-flex justify-content-start">
        <img src="/uicontent/images/feedback.png" alt="Send Feedback" />
        <span data-i18n="" data-i18n-send-feedback="">Send Feedback</span>
      </div>
    </div>
  </div>
  <div class="product-download-container d-none">
    <a href="#" id="productDownloadLink" target="_blank">
      <div class="product-download d-flex justify-content-start">
        <span data-i18n="" data-i18n-product-download="">Product Download</span>
        <i class="icon-topic-collapse fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</div>
