<footer class="tech-pub-footer">
	<div id="page-footer">
		<section class="footer-component footer-container ">
			<div class="personalization_div_1" style="min-height: 1px;"></div>
			<div class="personalization_div_2" style="min-height: 1px;"></div>
			<div class="container">
				<div class="content">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<footer class="footer">
								<div class="row">
									<div class="col-lg-2 col-md-12 mb-40 mt-3">
										<a class="footer-vmware-logo" href="https://www-lt.vmware.com/" name="nav_footer : VMware Logo">
											<picture class="float-lg-left">
												<source media="(max-width:800px)" srcset="https://www-lt.vmware.com/content/dam/digitalmarketing/vmware/vm-logo-big.png.imgo.jpeg">
												<img loading="lazy" class="vmware-logo" src={{ relURL "img/vm-logo-big.png" }} alt="VMware" title="VMware">
											</picture>
										</a>
									</div>
								</div>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</footer>

<script src={{ relURL "js/pageStore.js" }}></script>
<script src={{ relURL "js/main.js" }}></script>