<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="last modified" content="27/09/2021 12:47:24">
	<meta name="abstract" content="">
	<meta name="author" content="dpavel@vmware.com">
	<meta name="primary-product-name" content="MD2Docs-TestBed">
	<meta name="primary-product-version" content="1">
	<meta name="description" content="">
	<meta name="guid" content="GUID-1Intro">
	<meta name="language" content="en">
	<meta name="title" content="Basic Markdown">
	<meta name="publication-author" content="dpavel@vmware.com">

	<meta property="og:title" content="Basic Markdown">
	<meta property="og:image" content="https://docs-uat.vmware.com/uicontent/images/vmware-docs-default.png">
	<meta property="og:description" content="">
	<meta property="og:type" content="article">
	<meta property="og:locale" content="en">
	<meta property="og:url" content="https://docs-uat-staging.vmware.com/en/MD2Docs-TestBed/1/md-2-docs-test-bed/GUID-1Intro.html">
	<meta name="cdf-utag" content="https://tags.tiqcdn.com/utag/vmware/cdf-privacy/qa/utag.js">

	<link rel="stylesheet" type="text/css" href={{ relURL "css/commonltr.css" }}>
	<link rel="stylesheet" type="text/css" href={{ relURL "css/non-draft.vmware.productdocs.css" }}>
	<link rel="canonical" href="https://docs-uat-staging.vmware.com/en/MD2Docs-TestBed/1/md-2-docs-test-bed/GUID-1Intro.html">

	<link class="user" href={{ relURL "css/responsive.css" }} rel="stylesheet" type="text/css">
	<link rel="icon" href="https://www.vmware.com/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href={{ relURL "css/v2-global.20200911172508.css" }}>

	<title>Docs Preview</title>
</head>