<header class="tech-pub-header">
	<div id="header" class="global-header col-12">
		<div class="row desktop-header h-100">
			<div class="col col-md-3 align-self-center header-logo-wrapper">
				<div class="d-inline-flex align-items-center justify-content-start w-100">
					<div class="d-inline-flex align-items-center w-100">
						<span class="my-auto d-md-none header-menu-icon">
							<i class="fa fa-bars"></i>
						</span>
						<h1>
							<a href="https://docs-uat-staging.vmware.com/" class="d-inline-flex align-items-center my-auto nav-link header-logo-url pl-md-1 pl-xl-3">
								<span class="mr-2">
									<img src={{ relURL "img/vm-logo.png" }} alt="VMware Logo">
								</span>
								<span class="vm-logo-title">Docs Preview</span>
							</a>
						</h1>
					</div>
					<div class="align-items-center">
						<span id="toggleTOC" class="d-md-none header-toc-icon">
							<i class="fa fa-ellipsis-v px-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-12 vmware-gradient w-100 px-0 mx-0"></div>
</header>